/* animate intro stage */
@media (prefers-reduced-motion: no-preference) {
  @keyframes intro-stage {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  [data-animate] > * {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: intro-stage 0.5s both;
    animation-delay: calc(
      var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start)
    );
  }
  [data-animate-speed='slow'] > * {
    --delay: 100ms;
  }
  [data-animate-speed='fast'] > * {
    --delay: 25ms;
  }
}

[data-animate] > *:nth-child(1) {
  --lv: 1;
}
[data-animate] > *:nth-child(2) {
  --lv: 2;
}
[data-animate] > *:nth-child(3) {
  --lv: 3;
}
[data-animate] > *:nth-child(4) {
  --lv: 4;
}
[data-animate] > *:nth-child(5) {
  --lv: 5;
}
[data-animate] > *:nth-child(6) {
  --lv: 6;
}
[data-animate] > *:nth-child(7) {
  --lv: 7;
}
[data-animate] > *:nth-child(8) {
  --lv: 8;
}
[data-animate] > *:nth-child(9) {
  --lv: 9;
}
[data-animate] > *:nth-child(10) {
  --lv: 10;
}
[data-animate] > *:nth-child(11) {
  --lv: 11;
}
[data-animate] > *:nth-child(12) {
  --lv: 12;
}
[data-animate] > *:nth-child(13) {
  --lv: 13;
}
[data-animate] > *:nth-child(14) {
  --lv: 14;
}
[data-animate] > *:nth-child(15) {
  --lv: 15;
}
[data-animate] > *:nth-child(16) {
  --lv: 16;
}
[data-animate] > *:nth-child(17) {
  --lv: 17;
}
[data-animate] > *:nth-child(18) {
  --lv: 18;
}
[data-animate] > *:nth-child(19) {
  --lv: 19;
}
[data-animate] > *:nth-child(20) {
  --lv: 20;
}
