.mdx {
  width: 100%;
  max-width: max-content;
  color: var(--text-second);
  font-size: 16px;
  font-weight: 350;
  letter-spacing: 0px;
  line-height: 1.75;
}

.mdx > :first-child {
  margin-top: 0px;
}

.mdx > * {
  @apply mb-7;
}

.mdx > :where(h1, h2, h3, h4) {
  color: var(--text-body);
  font-weight: 600;
  scroll-margin-top: var(--page-top);
}

.mdx > :where(h1, h2) {
  margin-top: var(--page-top);
}

.mdx > :where(h3, h4) {
  @apply mt-20;
}

.mdx > :where(h1, h2) + :where(h3, h4) {
  margin-top: 0px;
}

.mdx b,
.mdx strong {
  font-weight: 550;
}

.mdx blockquote {
  position: relative;
  color: var(--text-second);
  font-family: var(--font-serif), sans-serif;
  quotes: '“' '”' '‘' '’';
  --quote-offset: 3px;
}

.mdx blockquote:before {
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  color: var(--text-second);
  content: open-quote;
  transform: translateX(-100%);
}

.mdx blockquote :last-child:after {
  margin-left: var(--quote-offset);
  color: var(--text-second);
  content: close-quote;
}

.mdx > :has(+ :where(ul, ol)) {
  @apply mb-2;
}

.mdx ul {
  padding-left: 16px;
  list-style-position: outside;
  list-style-type: disc;
}

.mdx li > ul {
  @apply list-[circle];
}

.mdx li {
  @apply list-item leading-7;
}

.mdx li::marker {
  color: var(--gray-300);
}

.mdx li + li,
.mdx li > ul {
  @apply mt-[7px];
}

.mdx li > div,
.mdx li > p {
  @apply mb-3;
}

.mdx li:has([data-rehype-pretty-code-fragment])::marker {
  content: none;
}

.mdx ol {
  --counter-space: 12px;
  padding: 0;
  counter-reset: basics-ol;
  list-style-type: none;
}

.mdx ol li {
  --l: calc(2 * var(--counter-space));
  padding-left: var(--l);
  text-indent: calc(-1 * var(--l));
}

.mdx ol li:before {
  display: inline-flex;
  min-width: var(--counter-space);
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--counter-space);
  color: var(--gray-300);
  content: counter(basics-ol) '. ';
  counter-increment: basics-ol;
  font-feature-settings: 'tnum' 1;
  letter-spacing: -0.05em;
  line-height: normal;
  text-align: right;
  user-select: none;
}

.mdx hr {
  height: 1px;
  border: none;
  background-color: var(--border);
}

.mdx table {
  empty-cells: hide;
  @apply md:text-sm;
}

.mdx th {
  @apply px-4 pb-1 text-left font-semibold
    [&[align=center]]:text-center 
    [&[align=right]]:text-right;
}

.mdx td {
  @apply border-l px-4 py-2 text-left align-text-top
    [&[align=center]]:text-center 
    [&[align=right]]:text-right;
}

.mdx td:first-child {
  word-break: keep-all;
}

.mdx td:last-child {
  @apply border-r;
}

.mdx img {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
}

.mdx img + em,
.mdx img + em p,
.mdx img + figcaption {
  display: inline-block;
  margin-top: 8px;
  color: var(--shiki-token-comment);
  font-family: var(--font-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* medium zoom */

.mdx img,
.medium-zoom-image--opened {
  filter: drop-shadow(0 25px 20px rgba(0, 0, 0, 0.1));
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 1000;
}

/* code */
:root {
  --shiki-color-text: var(--gray-800);
  --shiki-color-background: var(--gray-100);

  --shiki-token-constant: #171717;
  --shiki-token-string: #6f6f6f;
  --shiki-token-comment: #8f8f8f;
  --shiki-token-keyword: #858585;
  --shiki-token-parameter: #171717;
  --shiki-token-function: #171717;
  --shiki-token-string-expression: #6f6f6f;
  --shiki-token-punctuation: #8f8f8f;
  --shiki-token-link: #171717;
}

.dark {
  --shiki-token-constant: #ededed;
  --shiki-token-string: #a0a0a0;
  --shiki-token-comment: #707070;
  --shiki-token-keyword: #858585;
  --shiki-token-parameter: #ededed;
  --shiki-token-function: #ededed;
  --shiki-token-string-expression: #a0a0a0;
  --shiki-token-punctuation: #707070;
  --shiki-token-link: #ededed;
}

.mdx code:not(pre code) {
  position: relative;
  padding: 0px;
  border-radius: 6px;
  color: var(--shiki-color-text);
  font-size: 14px;
  font-weight: 700;
}
.mdx code:not(pre code, [data-rehype-pretty-code-fragment] code)::before {
  content: '`';
}
.mdx code:not(pre code, [data-rehype-pretty-code-fragment] code)::after {
  content: '`';
}

.mdx pre {
  position: relative;
  display: grid;
  padding: 4px 6px;
  padding: 12px 16px;
  border-radius: 6px;
  border-radius: 8px;
  background-color: var(--shiki-color-background);
  color: var(--shiki-color-text);
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

[data-rehype-pretty-code-fragment] pre {
  padding-left: 0;
}

[data-rehype-pretty-code-title] {
  margin-bottom: 4px;
  color: var(--shiki-token-comment);
  font-size: 14px;
}

[data-rehype-pretty-code-caption] {
  margin-top: 4px;
  color: var(--shiki-token-comment);
  font-size: 14px;
}

[data-line] {
  display: inline-block;
  width: 100%;
  padding: 0 16px;
}

[data-highlighted-line] {
  background-color: var(--selection);
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > [data-line] {
  @apply pl-2;
}

[data-line-numbers] > [data-line]::before {
  display: inline-block;
  width: 16px;
  margin-right: 24px;
  color: var(--shiki-token-comment);
  content: counter(line);
  counter-increment: line;
  text-align: right;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.5rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 2.5rem;
}

[data-highlighted-chars] {
  @apply rounded-md bg-selection px-1 shadow;
}

[data-chars-id] {
  border-bottom-width: 2px;
  color: #fff !important;
  font-weight: 600 !important;
}

[data-chars-id='v'] {
  border-bottom-color: rgb(249 168 212);
  background-color: #9f123980;
}

[data-chars-id='s'] {
  border-bottom-color: rgb(202 138 4);
  background-color: #854d0e80;
}

[data-chars-id='i'] {
  border-bottom-color: rgb(147 51 234);
  background-color: #6b21a880;
}

/* rehype-autolink-headings */

.mdx .anchor {
  text-decoration: none;
}

.mdx .anchor::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='%23838383' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M8.51194 3.00541C9.18829 2.54594 10.0435 2.53694 10.6788 2.95419C10.8231 3.04893 10.9771 3.1993 11.389 3.61119C11.8009 4.02307 11.9513 4.17714 12.046 4.32141C12.4633 4.95675 12.4543 5.81192 11.9948 6.48827C11.8899 6.64264 11.7276 6.80811 11.3006 7.23511L10.6819 7.85383C10.4867 8.04909 10.4867 8.36567 10.6819 8.56093C10.8772 8.7562 11.1938 8.7562 11.389 8.56093L12.0077 7.94221L12.0507 7.89929C12.4203 7.52976 12.6568 7.2933 12.822 7.0502C13.4972 6.05623 13.5321 4.76252 12.8819 3.77248C12.7233 3.53102 12.4922 3.30001 12.1408 2.94871L12.0961 2.90408L12.0515 2.85942C11.7002 2.508 11.4692 2.27689 11.2277 2.11832C10.2377 1.46813 8.94398 1.50299 7.95001 2.17822C7.70691 2.34336 7.47044 2.57991 7.1009 2.94955L7.058 2.99247L6.43928 3.61119C6.24401 3.80645 6.24401 4.12303 6.43928 4.31829C6.63454 4.51355 6.95112 4.51355 7.14638 4.31829L7.7651 3.69957C8.1921 3.27257 8.35757 3.11027 8.51194 3.00541ZM4.31796 7.14672C4.51322 6.95146 4.51322 6.63487 4.31796 6.43961C4.12269 6.24435 3.80611 6.24435 3.61085 6.43961L2.99213 7.05833L2.94922 7.10124C2.57957 7.47077 2.34303 7.70724 2.17788 7.95035C1.50265 8.94432 1.4678 10.238 2.11799 11.2281C2.27656 11.4695 2.50766 11.7005 2.8591 12.0518L2.90374 12.0965L2.94837 12.1411C3.29967 12.4925 3.53068 12.7237 3.77214 12.8822C4.76219 13.5324 6.05589 13.4976 7.04986 12.8223C7.29296 12.6572 7.52943 12.4206 7.89896 12.051L7.89897 12.051L7.94188 12.0081L8.5606 11.3894C8.75586 11.1941 8.75586 10.8775 8.5606 10.6823C8.36533 10.487 8.04875 10.487 7.85349 10.6823L7.23477 11.301C6.80777 11.728 6.6423 11.8903 6.48794 11.9951C5.81158 12.4546 4.95642 12.4636 4.32107 12.0464C4.17681 11.9516 4.02274 11.8012 3.61085 11.3894C3.19896 10.9775 3.0486 10.8234 2.95385 10.6791C2.53661 10.0438 2.54561 9.18863 3.00507 8.51227C3.10993 8.35791 3.27224 8.19244 3.69924 7.76544L4.31796 7.14672ZM9.62172 6.08558C9.81698 5.89032 9.81698 5.57373 9.62172 5.37847C9.42646 5.18321 9.10988 5.18321 8.91461 5.37847L5.37908 8.91401C5.18382 9.10927 5.18382 9.42585 5.37908 9.62111C5.57434 9.81637 5.89092 9.81637 6.08619 9.62111L9.62172 6.08558Z' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
  opacity: 0;
  transition-duration: 150ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
}

@media (hover: hover) {
  .mdx *:hover > .anchor::after,
  .mdx .anchor:focus::after,
  .mdx .anchor:hover::after {
    opacity: 1;
  }
}
