// @see https://github.com/pacocoursey/cmdk/blob/main/website/styles/cmdk/raycast.scss

.raycast {
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);

  --layer-portal: 9999;
  --app-bg: var(--gray1);
  --cmdk-shadow: 0 16px 70px rgb(0 0 0 / 20%);

  --transition-fast: 150ms;

  .dark & {
    --gray1: hsl(0, 0%, 8.5%);
    --gray2: hsl(0, 0%, 11%);
    --gray3: hsl(0, 0%, 13.6%);
    --gray4: hsl(0, 0%, 15.8%);
    --gray5: hsl(0, 0%, 17.9%);
    --gray6: hsl(0, 0%, 20.5%);
    --gray7: hsl(0, 0%, 24.3%);
    --gray8: hsl(0, 0%, 31.2%);
    --gray9: hsl(0, 0%, 43.9%);
    --gray10: hsl(0, 0%, 49.4%);
    --gray11: hsl(0, 0%, 62.8%);
    --gray12: hsl(0, 0%, 93%);
  }

  [cmdk-root] {
    position: relative;
    width: 640px;
    padding: 8px 0;
    font-family: var(--font-sans);
    background: var(--gray1);
    border: 1px solid var(--gray6);
    border-radius: 12px;
    outline: none;
    box-shadow: var(--cmdk-shadow);

    .dark & {
      background: var(--gray2);
      border: 0;

      &:after {
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: -1;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        content: '';
        background: linear-gradient(
          to right,
          var(--gray6) 20%,
          var(--gray6) 40%,
          var(--gray10) 50%,
          var(--gray10) 55%,
          var(--gray6) 70%,
          var(--gray6) 100%
        );
        background-size: 200% auto;
        border-radius: 12px;
        animation: shine 3s ease forwards 0.1s;
      }

      &:before {
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: -1;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        content: '';
        border-radius: 12px;
        box-shadow: 0 0 0 1px transparent;
        animation: border 1s linear forwards 0.5s;
      }
    }

    kbd {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      padding: 0 4px;
      font-family: var(--font-sans);
      color: var(--gray11);
      background: var(--gray3);
      border-radius: 4px;

      &:first-of-type {
        margin-left: 8px;
      }
    }
  }

  [cmdk-input] {
    width: 100%;
    padding: 8px 16px;
    font-family: var(--font-sans);
    font-size: 15px;
    color: var(--gray12);
    background: var(--bg);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--gray9);
    }
  }

  [cmdk-raycast-top-shine] {
    .dark & {
      position: absolute;
      top: -1px;
      z-index: -1;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0),
        var(--gray5) 20%,
        var(--gray9) 67.19%,
        rgba(236, 72, 153, 0)
      );
      opacity: 0;
      animation: showTopShine 0.1s ease forwards 0.2s;
    }
  }

  [cmdk-raycast-loader] {
    --loader-color: var(--gray9);
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    overflow: visible;
    background: var(--gray6);
    border: 0;

    &:after {
      position: absolute;
      top: -1px;
      width: 50%;
      height: 1px;
      content: '';
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--loader-color) 50%,
        transparent 100%
      );
      opacity: 0;
      animation-name: loading;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-delay: 1s;
    }
  }

  [cmdk-item] {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    font-size: 14px;
    color: var(--gray12);

    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    transition: all 150ms ease;
    transition-property: none;
    will-change: background, color;
    content-visibility: auto;

    &[data-selected='true'] {
      color: var(--gray12);
      background: var(--gray4);
    }

    &[data-disabled='true'] {
      color: var(--gray8);
      cursor: not-allowed;
    }

    &:active {
      background: var(--gray4);
      transition-property: background;
    }

    &:first-child {
      margin-top: 8px;
    }

    & + [cmdk-item] {
      margin-top: 4px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  [cmdk-raycast-meta] {
    margin-left: auto;
    font-size: 13px;
    color: var(--gray11);
  }

  [cmdk-list] {
    height: 393px;
    padding: 0 8px;
    padding-bottom: 40px;
    overflow: auto;
    overscroll-behavior: contain;
    scroll-padding-block-end: 40px;
    transition: 100ms ease;
    transition-property: height;
  }

  [cmdk-raycast-open-trigger],
  [cmdk-raycast-subcommand-trigger] {
    height: 28px;
    padding: 0px 4px 0px 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--gray11);
    letter-spacing: -0.25px;
    border-radius: 6px;
  }

  [cmdk-raycast-open-trigger] {
    display: flex;
    align-items: center;
    color: var(--gray12);
  }

  [cmdk-raycast-subcommand-trigger] {
    right: 8px;
    bottom: 8px;
    display: flex;
    gap: 4px;
    align-items: center;

    svg {
      width: 14px;
      height: 14px;
    }

    hr {
      width: 1px;
      height: 100%;
      background: var(--gray6);
      border: 0;
    }

    &[aria-expanded='true'],
    &:hover {
      background: var(--gray4);

      kbd {
        background: var(--gray7);
      }
    }
  }

  [cmdk-separator] {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background: var(--gray5);
  }

  *:not([hidden]) + [cmdk-group] {
    margin-top: 8px;
  }

  [cmdk-group-heading] {
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    color: var(--gray11);
    user-select: none;
  }

  [cmdk-raycast-footer] {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 8px;
    background: var(--gray1);
    border-top: 1px solid var(--gray6);
    border-radius: 0 0 12px 12px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: auto;
      filter: grayscale(1);
    }

    hr {
      width: 1px;
      height: 12px;
      margin: 0 4px 0px 12px;
      background: var(--gray6);
      border: 0;
    }

    @media (prefers-color-scheme: dark) {
      background: var(--gray2);
    }
  }

  [cmdk-empty] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 14px;
    color: var(--gray11);
    white-space: pre-wrap;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
    opacity: 0;
  }
}

@keyframes border {
  to {
    box-shadow: 0 0 0 1px var(--gray6);
  }
}

@keyframes showTopShine {
  to {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .raycast {
    [cmdk-root] {
      width: calc(100vw - var(--body-margin-left, 10px));
      max-width: 640px;
    }
    [cmdk-input] {
      font-size: 16px;
    }
  }
}

[cmdk-dialog] {
  &[data-state='open'] {
    animation: dialogIn 100ms ease-out;
  }
  &[data-state='closed'] {
    animation: dialogOut 70ms ease-out;
  }
}

@keyframes dialogIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialogOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

[cmdk-overlay] {
  &[data-state='open'] {
    animation: overlayIn 0.2s ease-out;
  }
  &[data-state='closed'] {
    animation: overlayOut 0.1s ease-out;
  }
}

@keyframes overlayIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes overlayOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
