:root {
  --shiki-color-text: var(--gray-800);
  --shiki-color-background: var(--gray-100);
  --shiki-token-constant: #171717;
  --shiki-token-string: #6f6f6f;
  --shiki-token-comment: #8f8f8f;
  --shiki-token-keyword: #858585;
  --shiki-token-parameter: #171717;
  --shiki-token-function: #171717;
  --shiki-token-string-expression: #6f6f6f;
  --shiki-token-punctuation: #8f8f8f;
  --shiki-token-link: #171717;
}

.dark {
  --shiki-token-constant: #ededed;
  --shiki-token-string: #a0a0a0;
  --shiki-token-comment: #707070;
  --shiki-token-keyword: #858585;
  --shiki-token-parameter: #ededed;
  --shiki-token-function: #ededed;
  --shiki-token-string-expression: #a0a0a0;
  --shiki-token-punctuation: #707070;
  --shiki-token-link: #ededed;
}

:root {
  --astro-code-color-text: var(--shiki-color-text);
  --astro-code-color-background: var(--shiki-color-background);
  --astro-code-token-constant: var(--shiki-token-constant);
  --astro-code-token-string: var(--shiki-token-string);
  --astro-code-token-comment: var(--shiki-token-comment);
  --astro-code-token-keyword: var(--shiki-token-keyword);
  --astro-code-token-parameter: var(--shiki-token-parameter);
  --astro-code-token-function: var(--shiki-token-function);
  --astro-code-token-string-expression: var(--shiki-token-string-expression);
  --astro-code-token-punctuation: var(--shiki-token-punctuation);
  --astro-code-token-link: var(--shiki-token-link);
}
