---
import BaseHeader from '~/components/base-header.astro';
import Main from '~/layouts/main.astro';
---

<Main data-animate data-animate-speed="slow" class="font-serif">
  <BaseHeader title="404">
    <p class="text-sm text-second">관련된 문서를 찾을 수 없습니다.</p>
  </BaseHeader>
  <section class="my-14">
    <a href="/" class="link">cd ..</a>
  </section>
</Main>
