---
import BaseHeader from '~/components/base-header.astro';
import MainLayout from '~/layouts/main-layout.astro';
import { useI18n } from '~/libs/i18n';

const { url } = Astro;
const { t, p } = useI18n(url);
---

<MainLayout data-animate data-animate-speed="slow" class="font-serif">
  <BaseHeader title="404">
    <p class="text-sm text-second">{t('404.desc')}</p>
  </BaseHeader>
  <section class="my-14">
    <a href={p('/')} class="link">cd ..</a>
  </section>
</MainLayout>
