---
import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav';
import Main from '~/layouts/main.astro';

const TITLE = '공방';
---

<Main
  data-animate
  data-animate-speed="slow"
  seo={{ title: TITLE }}
  class="font-serif"
>
  <BaseNav href="/" client:visible />
  <BaseHeader title={TITLE} />
  <section class="my-14">
    <div>뚝딱 뚝딱 만들고 있습니다.</div>
  </section>
</Main>
