---
import BaseHeader from '~/components/base-header.astro';
import BaseSns from '~/components/base-sns.astro';
import { NAV } from '~/consts';
import MainLayout from '~/layouts/main-layout.astro';
import { useI18n } from '~/libs/i18n';

const { url } = Astro;
const { p, t } = useI18n(url);
---

<MainLayout class="font-serif">
  <BaseHeader title={`${t('index.name')} ﹒ bepyan`} />
  <div data-animate data-animate-speed="slow">
    {/* 소개 */}
    <div class="my-7" set:html={t('index.desc')} />
    <div class="my-7">
      {/* 현재 */}
      <p set:html={t('index.currentWork')} />
      {/* SNS */}
      <BaseSns data-animate class="mt-1" />
    </div>
  </div>
  {/* 나의 공간 */}
  <div class="my-14 flex gap-7">
    <div>{t('nav.title')}</div>
    <div data-animate class="flex flex-col gap-1">
      {
        NAV.map((item) => (
          <div style="--lv-wait: 2;">
            <a class="link font-bold" href={p(`/${item}`)}>
              {t(`nav.${item}`)}
            </a>
            <span class="ml-3 text-sm">{t(`nav.${item}.desc`)}</span>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
