---
import { type CollectionEntry, getCollection } from 'astro:content';
import { format } from 'date-fns';

import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav';
import Main from '~/layouts/main.astro';
import { sortCollectionDateDesc } from '~/libs/mdx';

const TITLE = '수첩';

const allNotes = await getCollection('note');

const yearList = Object.entries(
  allNotes.reduce<{ [year: string]: CollectionEntry<'note'>[] }>((ac, v) => {
    const year = new Date(v.data.date).getFullYear();
    if (!ac[year]) {
      ac[year] = [];
    }

    ac[year].push(v);
    return ac;
  }, {}),
).sort(([yearA], [yearB]) => +yearB - +yearA);
---

<Main seo={{ title: TITLE }} class="font-serif">
  <BaseNav href="/" client:visible />
  <BaseHeader title={TITLE} />
  <div
    data-animate
    data-animate-speed="slow"
    class="group space-y-7 border-l pl-4"
  >
    {
      yearList.map(([year, postList], index) => {
        return (
          <div class="relative">
            <div class="absolute -left-20 select-none sm:relative sm:left-0 sm:mb-2">
              <h3 class="font-serif">{year}</h3>
            </div>
            <ul data-animate data-animate-speed="fast" class="space-y-2">
              {postList.sort(sortCollectionDateDesc).map((post) => {
                return (
                  <li style={`--start: ${index * 75}ms;`}>
                    <a
                      href={`/post/${post.slug}`}
                      class="flex items-center transition-opacity duration-300 hover:!opacity-100 group-hover:opacity-60"
                    >
                      <span class="text-heading">{post.data.title}</span>
                      <span class="flex-shrink-0 px-2 text-sm text-second">
                        {format(new Date(post.data.date), 'MM. dd.')}
                      </span>
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }
  </div>
</Main>
