---
import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav';
import WritingSection from '~/components/writing-section';
import { useI18n } from '~/i18n/utils';
import Main from '~/layouts/main.astro';
import { getWritingPostInfoList } from '~/libs/mdx';

const { lang, p, t } = useI18n(Astro.url);

const posts = await getWritingPostInfoList();

const title = t('nav.writing');
const description = t('nav.writing.desc');
---

<Main seo={{ title, description }} class="font-serif">
  <BaseNav href={p('/')} client:visible />
  <BaseHeader {title} {description} />
  <WritingSection client:load {lang} {posts} />
</Main>
