---
import '~/styles/mdx.css';

import { type CollectionEntry, getCollection } from 'astro:content';
import { format } from 'date-fns';

import BaseNav from '~/components/base-nav';
import TableOfContent from '~/components/table-of-content';
import ThemeToggle from '~/components/theme-toggle';
import Main from '~/layouts/main.astro';
import { parseToc } from '~/libs/mdx';

export async function getStaticPaths() {
  const [writings, notes] = await Promise.all([
    getCollection('writing'),
    getCollection('note'),
  ]);

  return [...writings, ...notes].map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'writing'>;

const post = Astro.props;

const { Content } = await post.render();
const { title, description, date } = post.data;
const toc = parseToc(post.body);
---

<Main seo={{ title, description }}>
  <BaseNav href={`/${post.collection}`} client:visible>
    <TableOfContent
      className="mt-[60px] px-2 text-sm md:hidden"
      toc={toc}
      client:load
    />
  </BaseNav>
  <article class="mdx">
    <!-- header -->
    <div class="mb-7 font-serif">
      <div class="flex items-center">
        <h1 class="-mb-0.5 font-semibold leading-7 text-heading">{title}</h1>
        <div class="ml-auto">
          <ThemeToggle client:load />
        </div>
      </div>
      <time class="text-sm text-disabled">
        {format(date, 'MMM dd, yyyy')}
      </time>
    </div>
    <Content />
  </article>
</Main>
