---
import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav.astro';
import { R3FBubbleApp } from '~/components/examples/r3f-bubble';
import { GiscusSection } from '~/components/giscus';
import MainLayout from '~/layouts/main-layout.astro';
import type { Language } from '~/libs/i18n';

const lang: Language = 'en';

const title = 'r3f bubble';
const description = 'simple example of react-tree-fiber with rapier';
---

<MainLayout pagefind {lang} seo={{ title, description }}>
  <BaseHeader {title} {description} noI18n>
    <BaseNav class="mt-1.5" lang="en" highlightNavItem="craft" />
  </BaseHeader>
  <div class="h-96 w-full max-w-content">
    <R3FBubbleApp client:load />
  </div>
  <GiscusSection className="mx-auto mt-20" {lang} client:idle />
</MainLayout>
