---
import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav';
import Main from '~/layouts/main.astro';

import { App } from './app';

const title = 'r3f bubble';
---

<Main>
  <BaseNav href="/" client:visible />
  <BaseHeader {title} />
  <div class="absolute h-1/2 w-content">
    <App client:load />
  </div>
</Main>
