---
import { NAV } from '~/consts';
import {
  getLangFromUrl,
  type Language,
  useTranslatedPath,
  useTranslations,
} from '~/libs/i18n';
import { cn } from '~/libs/utils';

import { DotIcon } from './ui/icons';

type Props = {
  class?: string;
  lang?: Language;
  highlightNavItem?: (typeof NAV)[number];
};

const { props, url } = Astro;

const currentNavItem = url.pathname.split('/').filter(Boolean).join('');

const lang = props.lang ?? getLangFromUrl(url);
const p = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<div class={cn('flex items-center gap-2 font-serif text-sm', props.class)}>
  <div>
    <span>by</span>
    <a class="link ml-0.5" href={p('/')}>
      {t('index.name')}
    </a>
  </div>
  <DotIcon className="h-2 w-2 text-second" />
  <div class="flex items-center gap-2">
    {
      NAV.map((navItem) => (
        <a
          class={cn(
            'external-link',
            (navItem === currentNavItem ||
              navItem === props.highlightNavItem) &&
              'font-bold no-underline before:bg-selection before:ring-border hover:before:ring-1',
          )}
          href={p(`/${navItem}`)}
        >
          {t(`nav.${navItem}`)}
        </a>
      ))
    }
  </div>
</div>
