---
import { UndoIcon } from '~/components/ui/icons';

type Props = {
  href: string;
};

const { href } = Astro.props;

const heading = (() => {
  if (href.includes('writing')) {
    return '나의 서재';
  } else if (href.includes('note')) {
    return '수첩';
  } else {
    return '집으로';
  }
})();
---

<nav class="sticky top-page font-serif leading-7 md:relative md:top-0">
  <a
    href={href}
    class="inline-flex select-none items-start gap-2 text-gray-11 transition-colors hover:text-gray-12"
  >
    <UndoIcon className="mt-1.5 shrink-0" />
    <span class="">{heading}</span>
  </a>
  <slot />
</nav>
