---
import SearchButton from '~/components/ui/search-button';

import LanguageDropdown from './language-dropdown.svelte';
import ThemeDropdown from './theme-dropdown.svelte';

type Props = {
  title: string;
  description?: string;
  noI18n?: boolean;
};

const { props, url } = Astro;
const { title, description, noI18n } = props;
---

<div class="mb-7 font-serif">
  <div class="flex items-center justify-between">
    <h1 class="-mb-0.5 font-semibold leading-7 text-heading">{title}</h1>
    <div class="flex gap-1">
      <SearchButton client:load />
      {!noI18n && <LanguageDropdown client:load {url} align="end" />}
      <ThemeDropdown client:load align="end" />
    </div>
  </div>
  {description && <p class="text-sm text-second">{description}</p>}
  <slot />
</div>
