---
import LanguageDropdown from './language-dropdown';
import ThemeDropdown from './theme-dropdown';

type Props = {
  title: string;
  description?: string;
  noI18n?: boolean;
};

const { props, url } = Astro;
const { title, description, noI18n } = props;
---

<div class="mb-7 font-serif">
  <div class="flex items-center">
    <h1 class="-mb-0.5 font-semibold leading-7 text-heading">{title}</h1>
    <div class="ml-auto flex gap-1">
      {!noI18n && <LanguageDropdown client:load {url} />}
      <ThemeDropdown client:load />
    </div>
  </div>
  {description && <p class="text-sm text-second">{description}</p>}
  <slot />
</div>
