---
const { props } = Astro;
---

{/* @ts-expect-error xmlns:cc */}
<p {...props} xmlns:cc="http://creativecommons.org/ns#">
  This post is licensed under <a
    class="link"
    href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    >CC BY 4.0<img
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
      style="height:12px!important;display:inline-block;margin-left:3px;"
      alt="creativecommons"
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
      style="height:12px!important;display:inline-block;margin-left:1px;"
      alt="creativecommons"
    />
  </a>
</p>
