---
import type { CollectionEntry } from 'astro:content';

import { resolveSlug } from '~/libs/mdx';
import { cn } from '~/libs/utils';

interface Props {
  class?: string;
  prevPost?: CollectionEntry<'post'>;
  nextPost?: CollectionEntry<'post'>;
}

const { prevPost, nextPost } = Astro.props;
---

<section
  class={cn(
    'flex items-stretch justify-between gap-1 text-sm',
    Astro.props.class,
  )}
>
  {
    prevPost && (
      <a
        class="group flex flex-col gap-1"
        href={`/post/${resolveSlug(prevPost.slug)}`}
      >
        <div class="text-disabled group-hover:text-second transition-colors">
          Previous
        </div>
        <span class="text-body group-hover:bg-selection group-hover:text-heading -mx-1 rounded-sm px-1 transition-colors">
          {prevPost.data.title}
        </span>
      </a>
    )
  }
  {
    nextPost && (
      <a
        class="group text-second hover:text-body ml-auto flex flex-col gap-1 text-right"
        href={`/post/${resolveSlug(nextPost.slug)}`}
      >
        <div class="text-disabled group-hover:text-second transition-colors">
          Next
        </div>
        <span class="text-body group-hover:bg-selection group-hover:text-heading -mx-1 rounded-sm px-1 transition-colors">
          {nextPost.data.title}
        </span>
      </a>
    )
  }
</section>
