---
import BaseHead from '~/components/base-head.astro';
import ThemeScript from '~/components/theme-script.astro';
import type { SEOProps } from '~/types';

type Props = {
  seo?: SEOProps;
  class?: string;
};

const { seo } = Astro.props;
---

<html lang="ko">
  <head>
    <BaseHead {...seo} />
    <ThemeScript />
  </head>
  <body>
    <div class="blur-layer" aria-hidden="true"></div>
    <div class="container">
      <main class={Astro.props.class}>
        <slot />
      </main>
    </div>
  </body>
</html>
