---
import BaseHead from '~/components/base-head.astro';
import type { SEOProps } from '~/types';

type Props = {
  seo?: SEOProps;
};

const { seo } = Astro.props;
---

<html lang="ko" class="dark">
  <head>
    <BaseHead {...seo} />
  </head>
  <body>
    <div class="blur-layer" aria-hidden="true"></div>
    <div class="container mx-auto max-w-page py-page">
      <div class="main-grid">
        <slot />
      </div>
    </div>
  </body>
</html>
