---
import BaseHead from '~/components/base-head.astro';
import MediumZoomScript from '~/components/medium-zoom-script.astro';
import MonitoringScript from '~/components/monitoring-script.astro';
import ThemeScript from '~/components/theme-script.astro';
import type { SEOProps } from '~/types';

type Props = {
  seo?: SEOProps;
  class?: string;
};

const { seo, ...props } = Astro.props;
---

<html lang="ko">
  <head>
    <BaseHead {...seo} />
    <ThemeScript />
  </head>
  <body>
    <div class="blur-layer" aria-hidden="true"></div>
    <div class="container">
      <main {...props} class={Astro.props.class}>
        <slot />
      </main>
    </div>
    <MonitoringScript />
    <MediumZoomScript />
  </body>
</html>
