---
import '~/styles/mdx.css';

import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

import BaseNav from '~/components/base-nav.astro';
import ThemeToggle from '~/components/theme-toggle';

import Main from './main.astro';

type Props = CollectionEntry<'writing'>['data'];

const { title, description, date } = Astro.props;
---

<Main seo={{ title, description }}>
  <BaseNav href="/" />
  <main>
    <article class="mdx">
      <!-- header -->
      <div class="mb-14 font-serif">
        <div class="flex items-end">
          <h1 class="font-semibold leading-7 text-heading">{title}</h1>
          <div class="ml-auto">
            <ThemeToggle client:load />
          </div>
        </div>
        <time class="text-sm text-disabled">
          {format(date, 'MMM dd, yyyy')}
        </time>
      </div>
      <!-- content -->
      <slot />
    </article>
  </main>
</Main>
